*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkkhaki;
    
}
.container{
    /* background-color: rgb(255, 255, 255); */
    width: 200px;
    height: 200px;
    margin: 20px;
    margin: 25% auto ;

}
.box{
    background-color: rgb(0, 255, 234);
    height: 30px;
    width: 40px;
    /* padding: 40px; */
    border:2px dashed white;
}
.box:hover{
    background-color: rgb(0, 255, 149);
    height: 20px;
    width:20px;
    transition: 3s;
transform:scale3d(80,50,60)

}
p{
    color: rgb(196, 255, 247);
}